@using ImageLikesEF.Data
@model IEnumerable<Image>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Title</th>
        <th>Likes</th>
    </tr>

    @foreach (Image image in Model)
    {
        <tr>
            <td>@image.Id</td>
            <td>
                <a href="/home/viewimage/@image.Id">
                    <img class="image" style="width: 200px;" src="/images/uploads/@image.FileName" />
                </a>
            </td>
            <td>
                <a href="/home/viewimage/@image.Id">@image.Title</a>
            </td>
            <td><span class="likes" data-id="@image.Id">@image.Likes</span></td>
        </tr>
    }

</table>

@section scripts{ 
<script src="/js/index.js"></script>
}