<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/home/upload" enctype="multipart/form-data">
            <input type="file" name="image" />
            <br />
            <input type="text" name="title" class="form-control" placeholder="Image Title"/>
            <br/>
            <button class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>

